body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1E4D2B;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #C8C372; /* Set link color to gold */
    font-weight: bold; /* Make links bold */
    text-decoration: none; /* Remove default underline */
    transition: transform 0.2s; /* Add transition for smooth click effect */
}

nav ul li a:hover {
    text-decoration: underline; /* Add underline on hover */
}

nav ul li a:active {
    transform: translateY(2px); /* Move link down slightly when clicked */
}

main {
    padding: 20px 20px 60px; /* Adjust padding top, right, bottom, left */
}

section {
    margin-bottom: 40px;
}

footer {
    text-align: center;
    background-color: #1E4D2B;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer h2 {
    margin-bottom: 10px; /* Add spacing below the heading */
}

footer ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    text-align: center;
}

footer ul li {
    display: inline; /* Display list items inline */
    margin-right: 20px; /* Add spacing between list items */
    text-align: center;
}

head title {
    font-size: 48px; 
}

a:hover {
    text-decoration: underline;
}

.email-section img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
}

.email-section a {
    color: white;
    font-weight: bold;
}

footer ul {
    list-style-type: none;
}

.social-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 20px; /* Adjust the left position */
}

.social-bar a {
    display: inline-block;
    text-decoration: none; /* Remove underline */
    color: white; /* Set link color to white */
    font-size: 30px; /* Set font size */
    margin-bottom: 10px; /* Add spacing between links */
}

.footer-socials {
    display: flex;
    justify-content: center;
}

.footer-socials a {
    margin: 0 10px; /* Add spacing between social links */
}
