body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; /* Align with the left side of the page */
    background-color: #1E4D2B;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

/* The navigation menu links */
.sidenav a {
    padding: 10px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px;
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #1E4D2B;
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

footer ul li {
    display: inline;
    margin-right: 20px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.email-section img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
}

.email-section a {
    color: white;
    font-weight: bold;
}

footer p {
    color: white;
}

/* Remove bullet points from footer links */
footer ul li {
    list-style-type: none;
}

/* Add spacing between footer links */
footer ul li:not(:last-child) {
    margin-right: 20px;
}
