/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1E4D2B;
    padding-top: 30px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
}

/* The navigation menu links */
.sidenav a {
    padding: 10px 8px;
    text-decoration: none;
    font-size: 40px;
    color: #fff;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 240px; /* Start 240px from the left */
    padding: 20px;
    font-size: 20px;
    display: flex;
    height: 100%;
}

.split {
    height: 100%;
    width: 55%; /* Increase the width of the split */
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Control the left side */
.left {
    width: 55%; /* Adjust width to match split */
}

/* Control the right side */
.right {
    width: 45%; /* Adjust width to match split */
}

/* Style the image inside the centered container */
.centered img {
    max-width: 100%;
    max-height: 80%; /* Reduce the height of the image */
    border-radius: 10px;
}

footer {
    text-align: center;
    background-color: #1E4D2B;
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

footer ul li {
    font-size: 12px;
    display: inline;
    margin-right: 10px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.email-section img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
}

.email-section a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 5px 10px; /* Add padding */
    border-radius: 5px; /* Add border radius for rounded corners */
}

footer p {
    color: white;
}

/* Remove bullet points from footer links */
footer ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

/* Add spacing between footer links */
footer ul li:not(:last-child) {
    margin-right: 20px;
}

h1 {
    font-size: 40px;
}
