{% extends 'base.html' %}

{% block title %}Add Company{% endblock %}

{% block content %}
<h2>Add Company</h2>
<form method="post">
    <label for="name">Company Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="website">Website:</label><br>
    <input type="url" id="website" name="website"><br><br>

    <input type="submit" value="Add Company" class="btn">
    <a href="{{ url_for('companies') }}" class="btn btn-cancel">Cancel</a>
</form>
{% endblock %}
